.main-ingredient {
    max-width: 600px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}


.ingredients {
    list-style-type: none;
    display: contents;
}

.ul-bread {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
    padding-inline-start: 0px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.ul-bread li {
    flex: 0 0 50%;
    max-width: 40%;
    margin: 12px 16px 16px 16px;
}

.ul-sauce {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    gap: 24px;
    margin-top: 12px;
    margin-bottom: 32px;
}
.ul-sauce li {
    flex: 0 0 50%;
    max-width: 40%;
    text-align: center;
    margin: 12px 16px 16px 16px;
}

.ul-filling {
    list-style: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    gap: 24px;
    text-align: center;
    margin-top: 12px;
}
.ul-filling li {
    flex: 0 0 50%;
    max-width: 40%;
    text-align: center;
    margin: 12px 16px 16px 16px;
}

.price {
    display: flex;
    justify-content: center;
}