.main-burIng {
    margin: auto;
    max-width: 600px;
    font-family: "Jet Brains Mono", Arial, sans-serif;
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.h1-burIng{
    font-weight: 700;
}
.ul-burIng {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.li-burIng {
}