.mainPage {
    margin: auto;
    max-width: 1280px;
}

.ulMainPage {
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.liMainPage {
    width: 600px;
    height: 912px;
}

@media screen and (max-width: 1150px) {
    .ulMainPage {
        display: grid;
        justify-content: center;
    }
    .liMainPage {
        height: 650px;
    }

}