.mainBurgCons {
    max-width: 600px;
    margin-top: 80px;
}

.consElem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.check p {
    margin-right: 8px;
}

.check button {
    margin-left: 40px;
}

